# ==============================================================================
# Compiled files (Byte-code)
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# ==============================================================================
# Virtual environments(Venvs and Envs)
# ==============================================================================
.venv/
venv/
ENV/
env/
.env
# If using Poetry or Pipenv
.venv
pip-log.txt
pip-delete-this-directory.txt

# ==============================================================================
# Distribution and packaging
# ==============================================================================
dist/
build/
eggs/
.eggs/
*.egg-info/
*.egg
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.tox/

# ==============================================================================
# IDEs and editors
# ==============================================================================
.vscode/
.idea/
*.swp
*.swo

# ==============================================================================
# Operating System and logs
# ==============================================================================
.DS_Store
Thumbs.db
*.log